In [23]:
import pandas as pd
dataset = pd.read_csv('contoh.csv')

In [24]:
print(dataset)

   Usia  Pendapatan (ribu USD) Status Pernikahan  Target (0: Tidak | 1: Ya)
0    25                     50     Belum Menikah                          0
1    30                     80           Menikah                          1
2    35                    120           Menikah                          1
3    40                     90     Belum Menikah                          0
4    45                     60           Menikah                          0
5    50                    150     Belum Menikah                          1

In [25]:
coloumn_usia = dataset ['Usia']

In [26]:
print(coloumn_usia)

0    25
1    30
2    35
3    40
4    45
5    50
Name: Usia, dtype: int64

In [31]:
coloumn_pendapatan = dataset ['Pendapatan (ribu USD)']

In [30]:
print(coloumn_pendapatan)

0     50
1     80
2    120
3     90
4     60
5    150
Name: Pendapatan (ribu USD), dtype: int64

In [35]:
dataset = pd.concat ([dataset ['Usia'], dataset['Pendapatan (ribu USD)']], axis = 1)

In [36]:
print(dataset)

   Usia  Pendapatan (ribu USD)
0    25                     50
1    30                     80
2    35                    120
3    40                     90
4    45                     60
5    50                    150